@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Dongle, sans-serif;
    font-size: 200%;
}
#header {
    width: 100%;
    height: 80px;
    clear: both;
    background-color: #0c2d35;
    color: #f0edc6;
}
#logo {
    float: left;
    padding-left: 20px;
}
#links {
    float: right;  
}
#links li {
    list-style: none;
    float: right;
    padding-right: 20px;
    margin-top: 15px;
}
#links li a {
    text-decoration: none;
    color: #f0edc6;
    transition-duration: .4s;
}
#links li a:hover {
    color: #0a5a59;
}
#about {
    height: 450px;
    width: 100%;
    background-color: #4d838a;
    background: url('../images/panoramic-644584_1920.jpg') no-repeat center center;
}  
#text-box {
    width: 400px;
    height: 350px;
    background-color: rgba(12, 10, 10, 0.699);
    box-shadow: 20px 20px 50px 15px grey;
    color: #f0edc6;
    padding: 5px;
    right: 10px;
    top: 100px;
    position: absolute;
}
#times {
    height: 400px;
    width: 100%;
    background-color: #4d838a;
}
#times div {
    display: inline-block;
    width: 33%;
    text-align: center;
    color: #f0edc6;
    position: relative;
}
#times h2 {
    letter-spacing: 2px;
    padding-top: 10px;
}
#snowboard {
    background: #4d838a;
}
#cross_country {
    background: #0a5a59;
}
#alpine{
    background: #0c2d35;
}
.sports {
    height: 400px;
}
#form {
    background: url('../images/ski-slope-3187602_1920.jpg') no-repeat center center;
}
#signup {
    height: 500px;
    width: 400px;
    background-color: rgba(12, 10, 10, 0.699);
    color: #f0edc6;
    text-align: left;
    padding-left: 20px;


}
input, label, select {
    display: block;
    font-size: 75%;
    margin-top: -5px;
}
input, select {
    background-color: rgba(115, 108, 112, 0.8);
    border-radius: 2px;
} 
option {
    font-size: 60%;
}
#button {
    margin-top: 10px;
    background-color: #f0edc6;
    color: #0c2d35;
    transition-duration: 0.4s;
}
#button:hover {
    background-color: #0c2d35;
    color: #f0edc6;
}
#contacts {
    height: 300px;
    background-color: #0a5a59;
    color: #f0edc6;
    text-align: center;
    padding-top: 40px;
}
footer {
    width: 100%;
    height: 80px;
    background-color: #0c2d35;
}
#media {
    text-align: center;
}
#media > li {
    display: inline;
}
#media i {
    color: #f0edc6;
    padding: 15px;
    font-size: 120%;
    transition-duration: 0.4s; 
}
#media i:hover {
    color: #0a5a59;
}