@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: Dongle, sans-serif;
    font-size: 200%;
}
#logo {
    float:left;
    font-size: 200%;
}
#links {
    font-size: 120%;
}
#logo #links {
    height: 60px;
}
#links li {
    float: right;
    list-style: none;
    margin-left: 30px;
}
#about  {
    max-height: 400px;
    width: 100%;
}
#about div {
    width: 50%;
    height: 400px;
    display: inline-block;
}
#times{
    width: 100%;
}
#times div {
    width: 33%;
    height: 250px;
    clear: both;
    display: inline-block;
    background-color: blueviolet;

}
table, th, td {
    border: none;

}