@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Dongle, sans-serif;
    font-size: 200%;
}
#header {
    width: 100%;
    height: 80px;
    clear: both;
    background-color: #0c2d35;
    color: #f0edc6;
}
#logo {
    float: left;
    padding-left: 20px;
}
#links {
    float: right;  
}
#links li {
    list-style: none;
    float: right;
    padding-right: 20px;
    margin-top: 15px;
}
#links li a {
    text-decoration: none;
    color: #f0edc6;
    transition-duration: .4s;
}
#links li a:hover {
    color: #0a5a59;
}
#about {
    height: 450px;
    width: 100%;
    background-color: #4d838a;
    background: url('../images/panoramic-644584_1920.jpg') no-repeat center center;
}  
#text-box {
    width: 400px;
    height: 400px;
    background-color: rgba(12, 10, 10, 0.699);
    color: #f0edc6;
    padding: 5px;
    float: right;
    right: 20px;
    top: 20px;
    position: relative;
}
#times {
    height: 350px;
    width: 100%;
    background-color: #4d838a;
}
#times div {
    float: left;
    width: 33.3%;
    text-align: center;
    box-sizing: border-box;
    color: #f0edc6;
    border: 1px solid #f0edc6;
}
hr {
    border: 1px solid #f0edc6;
}
#times h2 {
    letter-spacing: 2px;
    padding-top: 10px;
}
#snowboard {
    background: #4d838a;
}
#cross_country {
    background: #0a5a59;
}
#alpine{
    background: #0c2d35;
}
.sports {
    height: 350px;
}
#form {
    background: url('../images/ski-slope-3187602_1920.jpg') no-repeat center center;
    height: 540px;
}
#signup {
    height: 450px;
    width: 400px;
    background-color: rgba(12, 10, 10, 0.699);
    color: #f0edc6;
    text-align: left;
    padding-left: 20px;
    margin: 0px 0 20px 20px;
    top: 20px;
    position: relative;


}
input {
    display: block;
    font-size: 70%;
    margin-top: -5px;
}

select {
    font-size: 50%;
    margin-top: -5px;
}
input, select {
    background-color: rgba(115, 108, 112, 0.8);
    border-radius: 2px;
} 
option {
    font-size: 100%;
}
#button {
    margin-top: 10px;
    background-color: #f0edc6;
    border-radius: 20%;
    color: #0c2d35;
    transition-duration: 0.4s;
}
#button:hover {
    background-color: #0c2d35;
    color: #f0edc6;
}
#contacts {
    height: 300px;
    background-color: #0a5a59;
    color: #f0edc6;
    text-align: center;
    padding-top: 40px;
}
footer {
    width: 100%;
    height: 80px;
    background-color: #0c2d35;
}
#media {
    text-align: center;
}
#media > li {
    display: inline;
}
#media i {
    color: #f0edc6;
    padding: 15px;
    font-size: 120%;
    transition-duration: 0.4s; 
}
#media i:hover {
    color: #0a5a59;
}
@media screen and (max-width: 1200px)  {
    #times div {
        font-size: 70%;
        padding-top: 50px;
    }
}
@media screen and (max-width: 900px)  {
    #times div {
        font-size: 65%;
        padding-top: 50px;
    }
}
@media screen and (max-width: 420px)  {
    #header {
        font-size: 50%;
    }
    #links {
        float: left;
        font-size: 150%;
        padding: 0 0 0 20px;
    }
    #links li {
        margin: 0;
    }
    #text-box {
        width: 100%;
        height: 100%;
        font-size: 80%;
        padding: 0px;
        float: none;
        right: 0;
        top: 0;
        text-align: center;
    }
    #times {
        height: 600px;
    }
    #times div {
        width: 100%;
        height: 200px;
        padding: 0;
    }
    #signup {
        height: 400px;
        width: 95%;
        margin: 0 0 0 0;
    }
    #signup h2 {
        font-size: 80%;
    }
    label {
        font-size: 70%;
    }
    input {
        font-size: 70%;
    }
    #contacts {
        font-size: 80%;
    }
}